@use "global" as *;

.footer {
  background-color: $CNavy03;
  padding-top: rem(62);
  padding-bottom: rem(30);
  @include mq {
    padding-bottom: rem(64);
  }
}
.footer__inner.inner {
  padding-right: rem(50);
  padding-left: rem(50);
  @include mq {
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}
.footer__flex-box {
  display: flex;
  flex-direction: column;
  @include mq {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
  }
}
.footer__left {
  margin-top: rem(62);
  @include mq {
    margin-top: initial;
  }
}
.footer__logo-box {
  @include mq {
    display: flex;
    align-items: center;
    gap: rem(46);
  }
}
.footer__logo {
  width: rem(114);
  @include mq {
    width: rem(258);
  }
}
.footer__sns {
  margin-top: rem(50);
  @include mq {
    margin-top: initial;
  }
}
.footer__copy {
  display: inline-block;
  margin-top: rem(50);
  color: $white;
  font-family: $second-font-family;
  font-size: rem(12);
  @include mq {
    margin-top: rem(20);
  }
}
