@use 'global' as *;

.header {
  width: 100vw;
  position: fixed;
  z-index: zi(header);
  top: 0;
  right: 0;
  left: 0;
  height: $header-height-sp;
  background-color: transparent;
  @include mq {
    height: $header-height-pc;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding-right: rem(30);
  @include mq {
    padding-right: rem(0);
  }
}
