@use "global" as *;

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: zi(header);
  height: rem(80);
  background-color: transparent;
  @include mq {
    height: rem(180);
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding-right: rem(30);
  @include mq {
    padding-right: rem(0);
  }
}