@use "global" as *;

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: zi(header);
  height: rem(80);
  background-color: transparent;
  @include mq {
    height: rem(180);
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding-right: rem(30);
  @include mq {
    padding-right: rem(0);
  }
}

// * grass
.header__grass {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: rem(80);
  @include mq {
    backdrop-filter: blur(rem(5));
  }
}

// * logo
.header__logo {
  z-index: zi(header-logo);
  width: rem(114);
  height: inherit;
  line-height: 1;
  @include mq {
    width: rem(258);
  }
}
.header__logo-link {
  height: inherit;

  img {
    height: inherit;
  }
}

// * hamburger
.header__hamburger {
  position: fixed;
  top: rem(30);
  right: rem(30);
  z-index: zi(hamburger);
}

// * drawer
.header__drawer {
  width: 100vw;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: zi(drawer);
  height: 100dvh;
  overflow-y: auto;
  background-color: $CNavy03;
}
.header__drawer-header {
  height: rem(80);
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $CNavy03;
}
.header__drawer-inner {
  max-width: rem(600);
  margin-top: rem(160);
  margin-bottom: rem(30);
  margin-right: auto;
  margin-left: auto;
  padding-left: rem(50);
  padding-right: rem(50);
  @include mq {
    max-width: none;
  }
}
.header__drawer-sns {
  margin-top: rem(50);
}
.header__drawer-circle-bg {
  position: fixed;
  z-index: 3;
  width: rem(100);
  height: rem(100);
  border-radius: 50%;
  background: $CNavy03;
  transform: scale(0);
  right: -50px;
  bottom: -50px;
  transition: all 0.6s;
}
.header__drawer-circle-bg.is-active {
  transform: scale(50);
}

// * pc-nav
.header__nav {
  height: rem(80);
}
