@use "global" as *;

.page-contact__inner.inner {
  @include mq {
    max-width: 640px + strip-unit($padding-pc) * 2;
  }
}
.page-contact__text {
  color: $black;
  font-size: rem(14);
  line-height: calc(32 / 14);
  @include mq {
    font-size: rem(16);
    line-height: calc(38 / 16);
  }
}
.page-contact__form {
  margin-top: rem(40);
  font-family: $base-font-family;
  @include mq {
    margin-top: rem(100);
  }
}