@use "global" as *;


.single-news__inner.inner {
  padding-left: rem(30);
  padding-right: rem(30);
  @include mq {
    max-width: 1160px + strip-unit($padding-pc) * 2;
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
}
.single-news__body {
  display: flex;
  flex-direction: column;
  gap: rem(56) 12.069%;
  @include mq {
    flex-direction: row;
    justify-content: space-between;
  }
}
.single-news__main {
  @include mq {
    width: 62.069%;
  }
}
.single-news__aside {
  @include mq {
    width: 25.862%;
  }
}
