@use 'global' as *;

body {
  background-color: $white;
  color: $black;
  font-weight: $regular;
  line-height: 1.5;
  font-family: $baseFont;

  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

// .pin-spacer {
//   background-image: linear-gradient(skyblue, blue);
// }
