# ._gulp
_gulp/**/*
!_gulp/gulpfile.js
!_gulp/package.json
!_gulp/eslint.config.js
!_gulp/.stylelintrc.json
!_gulp/.stylelintignore
!_gulp/.prettierrc.json
!_gulp/.prettierignore
!_gulp/.htmlhintrc
# .vscode
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# environments
.env.local
# others
.DS_Store
dist
distwp
backup
screenshots
*.zip