@use 'global' as *;

@if $startFrom == sp {
  .u-pc {
    display: none;
    @include mq('md') {
      display: initial;
    }
  }
} @else {
  .u-pc {
    @include mq('md') {
      display: none;
    }
  }
}
