@use 'setting' as *;
@use 'breakpoints' as *;
@use 'function' as *;

@mixin m-text {
  padding-inline: 3%;
  font-size: toRem(14);
  line-height: calc(20 / 14);
  @include mq('md') {
    padding-inline: initial;
    font-size: toRem(19);
    line-height: calc(32 / 19);
  }
}
