// ! rem表記にすると表示エラー起こします。
////////////////////
// 基本設定
////////////////////
$width-sp: 375px; // SPのデザイン画面幅
$width-pc: 1366px; // PCのデザイン画面幅
$height-sp: 677px; // SPのデザイン画面高さ
$height-pc: 768px; // PCのデザイン画面高さ
$inner: 1100px; // コンテンツのインナー幅（インナー幅＋余白＝デザイン画面幅）
$maxWidth-tb: 600px; // タブレット時最大幅
$padding-sp: 20px; // SPの余白
$padding-pc: 25px; // PCの余白
$headerHeight-sp: 80px; // SPのヘッダー高さ
$headerHeight-pc: 110px; // PCのヘッダー高さ

////////////////////
// フォント設定
////////////////////

$firstFont: 'Zen Kaku Gothic New', sans-serif;
$secondFont: 'Jost', 'Zen Kaku Gothic New', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$blackBold: 900;

////////////////////
// 色の指定
////////////////////

$black: #000;
$white: #fff;
