@use "sass:math";

////////////////////
// 幅設定
////////////////////
// ! rem表記にすると表示エラー起こします。
// インナー幅設定（px表記すること）
// コンテンツのインナー幅（最も共通の幅が多い部分）
// インナー幅＋パディング＝キャンパス幅
$inner: 1100px;

// タブレット時最大幅
$max-width-sp: 600px;

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
$second-font-family: "Roboto", "Noto Sans JP", sans-serif;
$third-font-family: "Oswald", "Noto Sans JP", sans-serif;

$regular: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

$black: #000;
$white: #fff;

body {
  font-family: $base-font-family;
  color: $black;
  background-color: $white;
}