// ! rem表記にすると表示エラー起こします。
////////////////////
// 基本設定
////////////////////
$width-sp: 375px; // SPのデザイン画面幅
$width-pc: 1366px; // PCのデザイン画面幅
$height-sp: 667px; // SPのデザイン画面高さ
$height-pc: 768px; // PCのデザイン画面高さ
$inner: 1080px; // コンテンツのインナー幅（$inner＋$padding＋余白＝画面幅）
$inner-1000: 1000px; // コンテンツのインナー幅1000px版
$maxWidth-tb: 600px; // タブレット時最大幅
$padding-sp: 15px; // SPの余白
$padding-pc: 25px; // PCの余白
$headerHeight-sp: 80px; // SPのヘッダー高さ
$headerHeight-pc: 110px; // PCのヘッダー高さ

////////////////////
// フォント設定
////////////////////
:root {
  --font-jp: YakuHanJP, 'Zen Kaku Gothic New', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    Meiryo, sans-serif;
  --font-en: 'Jost', YakuHanJP, 'Zen Kaku Gothic New', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
}

@property --root-font-size {
  syntax: '<length>';
  inherits: false;
  initial-value: 16px;
}

:root {
  --to-rem: calc(tan(atan2(1px, var(--root-font-size))) * 1rem);
}

////////////////////
// z-index設定
////////////////////

:root {
  --zi-loading: 9000;
  --zi-modal: 7000;
  --zi-header: 5000;
  --zi-drawer: 3000;
  --zi-mask: 2000;
  --zi-floating: 1000;
  --zi-default: 1;
}

////////////////////
// 色の指定
////////////////////

:root {
  --color-white: #fff;
  --color-black: #000;
}
