// ! rem表記にすると表示エラー起こします。
////////////////////
// 基本設定
////////////////////
$width-sp: 375px; // SPのデザイン画面幅
$width-pc: 1366px; // PCのデザイン画面幅
$height-sp: 667px; // SPのデザイン画面高さ
$height-pc: 768px; // PCのデザイン画面高さ
$inner: 1080px; // コンテンツのインナー幅（$inner＋$padding＋余白＝画面幅）
$maxWidth-tb: 600px; // タブレット時最大幅
$padding-sp: 15px; // SPの余白
$padding-pc: 25px; // PCの余白
$headerHeight-sp: 80px; // SPのヘッダー高さ
$headerHeight-pc: 110px; // PCのヘッダー高さ

////////////////////
// フォント設定
////////////////////

$firstFont: YakuHanJP, 'Zen Kaku Gothic New', sans-serif;
$secondFont: 'Jost', YakuHanJP, 'Zen Kaku Gothic New', sans-serif;

$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$blackBold: 900;

////////////////////
// 色の指定
////////////////////

$black: #000;
$white: #fff;

////////////////////
// line height
////////////////////
/**
 * フォントサイズと行の高さの実数値と倍数の表
 * 
 * px     | 1.4      | 1.5      | 1.6      | 1.7      | 1.8
 * ------------------------------------------------------------
 * 12px   | 16.8px   | 18.0px   | 19.2px   | 20.4px   | 21.6px
 * 13px   | 18.2px   | 19.5px   | 20.8px   | 22.1px   | 23.4px
 * 14px   | 19.6px   | 21.0px   | 22.4px   | 23.8px   | 25.2px
 * 15px   | 21.0px   | 22.5px   | 24.0px   | 25.5px   | 27.0px
 * 16px   | 22.4px   | 24.0px   | 25.6px   | 27.2px   | 28.8px
 * 17px   | 23.8px   | 25.5px   | 27.2px   | 28.9px   | 30.6px
 * 18px   | 25.2px   | 27.0px   | 28.8px   | 30.6px   | 32.4px
 * 20px   | 28.0px   | 30.0px   | 32.0px   | 34.0px   | 36.0px
 * 24px   | 33.6px   | 36.0px   | 38.4px   | 40.8px   | 43.2px
 * 30px   | 42.0px   | 45.0px   | 48.0px   | 51.0px   | 54.0px
 * 36px   | 50.4px   | 54.0px   | 57.6px   | 61.2px   | 64.8px
**/
