@use 'global' as *;

.c-breadcrumb {
  margin-top: fluidRange(10, 20);
  text-align: right;
}
.breadcrumb__inner.l-inner {
  padding-right: fluidRange(10, 60);
}
.breadcrumb__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $black;
  font-size: fluidRange(10, 15);
  font-family: $secondFont;

  a {
    color: $black;
  }
}

// ! c-breadcrumb NavXT 設定
.c-breadcrumb {
  span[property='name'] {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
  }

  .breadcrumb__between {
    display: inline-block;
    width: 20px;
    height: 2px;
    margin-inline: fluidRange(10);
    background-color: $black;
  }
}
