@use 'global' as *;

.c-button-normal {
  position: relative;
  border: 1px solid $black;
  border-radius: fluidRange(20);
  box-shadow: 1px 1px 0 0 $black;
  transition: transform 0.2s, box-shadow 0.2s;
  a,
  input[type='submit'] {
    min-width: fluidRange(200);
    display: inline-block;
    padding-block: clampRange(6);
    padding-inline: clampRange(32);
    color: $black;
    text-align: center;
  }
}

@media screen and (any-hover: hover) {
  .c-button-normal:hover {
    opacity: 1;
    transform: translate(1px, 1px);
    box-shadow: 0 0 0 0 $black;
  }
}
