@use 'global' as *;

.c-button-normal {
  position: relative;
  border: 1px solid black;
  border-radius: 100vmax;
  box-shadow: 1px 1px 0 0 gray;
  background-color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  a,
  input {
    display: inline-block;
    min-width: calc(200 * var(--to-rem));
    padding-block: calc(6 * var(--to-rem));
    padding-inline: calc(32 * var(--to-rem));
    color: white;
    text-align: center;
  }
}
.c-button-normal.c-button-normal--white {
  background-color: white;
  a,
  input {
    color: black;
  }
}

@media screen and (any-hover: hover) {
  .c-button-normal:hover {
    opacity: 1;
    transform: translate(1px, 1px);
    box-shadow: 0 0 0 0 gray;
  }
}
