@use 'global' as *;

.c-breadcrumb {
  margin-top: rem(10);
  text-align: right;

  @include mq('md') {
    margin-top: rem(20);
  }
}
.breadcrumb__inner.l-inner {
  padding-right: rem(10);

  @include mq('md') {
    padding-right: rem(60);
  }
}
.breadcrumb__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-size: rem(10);
  font-family: $secondFont;

  @include mq('md') {
    font-size: rem(15);
  }
  a {
    color: black;
  }
}

// ! c-breadcrumb NavXT 設定
.c-breadcrumb {
  span[property='name'] {
    display: block;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
  }

  .breadcrumb__between {
    display: inline-block;
    width: 20px;
    height: 2px;
    margin-inline: rem(10);
    background-color: black;
  }
}
