@use 'global' as *;

.c-breadcrumb {
  margin-top: rem(12);

  @include mq('md') {
    margin-top: rem(32);
  }
}
.c-breadcrumb__inner.l-inner {
  @include mq('md') {
  }
}
.c-breadcrumb__container {
}

// ! aioseo_breadcrumbs 設定
.c-breadcrumb {
  .aioseo-breadcrumbs {
  }
  .aioseo-breadcrumb {
    font-size: 12px;
    letter-spacing: 0.02em;
    a {
      color: #000;
    }
  }
  .aioseo-breadcrumb-separator {
  }
}

// ! c-breadcrumb NavXT 設定
.c-breadcrumb {
  span[property='name'] {
    display: block;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
  }

  .separator {
    display: block;
    width: 1em;
    height: 1em;
    margin-inline: 0.5em;
    mask-image: url(../images/common/icon-arrow.svg);
    mask-position: bottom;
    mask-size: 70%;
    mask-repeat: no-repeat;
    background-color: black;
    @include mq('md') {
    }
  }
}
