@use 'global' as *;

.c-button-normal {
  position: relative;
  border: 2px solid var(--color-secondary);
  border-radius: 100vmax;
  background-color: var(--color-secondary);
  transition: all 0.3s;

  a,
  input {
    display: inline-block;
    min-width: r(200);
    padding-block: r(14);
    padding-inline: r(40);
    color: var(--color-white);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
}

.c-button-normal.c-button-normal--white {
  border-color: var(--color-white);
  background-color: transparent;

  a,
  input {
    color: var(--color-white);
  }
}

@media screen and (any-hover: hover) {
  .c-button-normal:hover {
    opacity: 1;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .c-button-normal.c-button-normal--white:hover {
    background-color: var(--color-white);

    a,
    input {
      color: var(--color-primary);
    }
  }
}
