@use 'global' as *;

.c-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: r(16);
	.page-numbers {
		display: grid;
		place-items: center;
		width: r(32);
		height: r(32);
		border: 1px solid black;
		border-radius: 100%;
		background-color: transparent;
		font-family: var(--font-en);
		font-size: r(14);
		color: black;
		transition:
			background-color 0.3s,
			color 0.3s;
		&.prev {
		}
		&.next {
		}
		&.prev,
		&.next {
			position: relative;
			border: 1px solid black;
			background-color: white;
		}
		&.prev::before,
		&.prev::after,
		&.next::before,
		&.next::after {
			content: '';
			position: absolute;
			top: 50%;
			display: block;
			width: r(6);
			height: 1px;
			border-radius: 1px;
			background-color: black;
		}
		&.prev::before,
		&.prev::after {
			left: 40%;
			transform-origin: left;
		}
		&.next::before,
		&.next::after {
			right: 40%;
			transform-origin: right;
		}
		&.prev::before,
		&.next::before {
			transform: rotate(-45deg);
		}
		&.prev::after,
		&.next::after {
			transform: rotate(45deg);
		}
		&.current,
		&:not(.dots):not(.prev):not(.next):hover,
		&.prev:hover,
		&.next:hover {
			border: 1px solid black;
			background-color: black;
			color: white;
		}
		&.prev:hover::before,
		&.prev:hover::after,
		&.next:hover::before,
		&.next:hover::after {
			background-color: white;
		}
	}
}
