<%# Footer component - Section 10: Footer Info %>
<%# Company info with logo, address, email, and map placeholder %>

<%# footer %>
<footer class="p-footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__content">
      <%# Company info section %>
      <div class="p-footer__info">
        <div class="p-footer__company">
          <div class="p-footer__logo">
            <img src="<%= baseUrlPath %>/assets/images/common/footer-logo.png" alt="Company Logo" width="35" height="35" />
          </div>
          <p class="p-footer__company-name">YOUR COMPANY</p>
        </div>

        <div class="p-footer__contact">
          <p class="p-footer__address">Street Name</p>
          <p class="p-footer__address">Postal Code / City Name</p>
          <p class="p-footer__email">email@example.com</p>
        </div>
      </div>

      <%# Map section %>
      <div class="p-footer__map">
        <div class="p-footer__map-container">
          <img src="<%= baseUrlPath %>/assets/images/common/footer-map.png" alt="Map" />
          <p class="p-footer__map-placeholder">(Your map here)</p>
        </div>
      </div>
    </div>
  </div>

  <%# Copyright section - Section 11 %>
  <div class="p-footer__copyright">
    <div class="p-footer__copyright-inner l-inner">
      <img src="<%= baseUrlPath %>/assets/images/common/footer-copyright.png" alt="Copyright" class="p-footer__copyright-img" />
    </div>
  </div>
</footer>
