@use 'global' as *;

// Content Section - Section 02
// Design values from manifest
// Section title: #f3491e, 50px, uppercase
// Heading: #3a3d3f, 38px, Lato Bold, uppercase
// Body text: #656b6e, 14px, line-height 18.667px
// Button: #f3491e background, #ffffff text, 14px, letter-spacing 1.35px

.p-content {
  position: relative;
  background-color: #ffffff;
  background-image: url('../images/content-background.jpg');
  background-size: cover;
  background-position: center;
  padding: r(80) r(20);

  @include mq(md) {
    padding: r(120) r(40);
  }

  @include mq(lg) {
    padding: r(160) r(60);
  }

  &__inner {
    position: relative;
    max-width: r(1200);
    margin: 0 auto;
  }

  &__decorative {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
  }

  &__square {
    position: absolute;

    &--1 {
      top: r(40);
      left: r(20);
      width: r(80);
      height: auto;

      @include mq(md) {
        width: r(120);
      }

      @include mq(lg) {
        top: r(60);
        left: r(40);
        width: r(150);
      }
    }

    &--2 {
      bottom: r(40);
      right: r(20);
      width: r(100);
      height: auto;

      @include mq(md) {
        width: r(140);
      }

      @include mq(lg) {
        bottom: r(60);
        right: r(40);
        width: r(180);
      }
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: r(200);
    height: auto;
    transform: translate(-50%, -50%);

    @include mq(md) {
      width: r(300);
    }

    @include mq(lg) {
      width: r(400);
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    max-width: r(800);
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    color: #f3491e;
    font-size: r(30);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: r(20);

    @include mq(md) {
      font-size: r(40);
      margin-bottom: r(24);
    }

    @include mq(lg) {
      font-size: r(50);
      margin-bottom: r(30);
    }
  }

  &__heading {
    color: #3a3d3f;
    font-size: r(28);
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: r(16);

    @include mq(md) {
      font-size: r(32);
      margin-bottom: r(20);
    }

    @include mq(lg) {
      font-size: r(38);
      margin-bottom: r(24);
    }
  }

  &__text {
    color: #656b6e;
    font-size: r(14);
    line-height: r(18.667);
    margin-bottom: r(24);

    @include mq(md) {
      margin-bottom: r(30);
    }

    @include mq(lg) {
      margin-bottom: r(40);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
