@use 'global' as *;

.p-fv {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.p-fv__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.p-fv__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.p-fv__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.p-fv__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-inline: r(20);

  @include mq('md') {
    padding-inline: r(40);
  }
}

.p-fv__content {
  text-align: center;
  color: #ffffff;
}

.p-fv__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: r(32);
  color: #ffffff;
  letter-spacing: 0.1em;
  line-height: 1.4;
  text-transform: uppercase;

  @include mq('md') {
    font-size: r(59);
    letter-spacing: r(6);
  }
}

.p-fv__subtitle {
  margin-top: r(16);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: r(16);
  color: #d2cfcf;
  letter-spacing: 0.1em;

  @include mq('md') {
    margin-top: r(24);
    font-size: r(23);
    letter-spacing: r(2.35);
  }
}
