@use 'global' as *;

// * ================================
// * p-copyright
// * ================================

.p-copyright {
  position: relative;
  width: 100%;
  height: r(217);
  overflow: hidden;
}

.p-copyright__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-copyright__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-copyright__text {
  position: absolute;
  top: r(38);
  left: r(76);
  width: r(466);
  height: r(15);
  z-index: 2;
}

.p-copyright__text-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
