@use 'global' as *;

// * ================================
// * p-content-section
// * ================================

.p-content-section {
  position: relative;
  width: 100%;
  height: r(724);
  overflow: hidden;

  @include mq(md) {
    height: r(721);
  }
}

.p-content-section__bg {
  position: absolute;
  top: r(2);
  left: r(1);
  width: r(1200);
  height: r(721);
}

.p-content-section__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-content-section__squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-content-section__square {
  position: absolute;
  object-fit: cover;
}

.p-content-section__square--1 {
  top: r(1);
  left: r(101);
  width: r(1001);
  height: r(722);
}

.p-content-section__square--2 {
  top: r(2);
  left: r(31);
  width: r(1142);
  height: r(721);
}

.p-content-section__inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: r(166);
}

.p-content-section__number {
  margin: 0 0 r(5) 0;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: r(50);
  color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
}

.p-content-section__title {
  margin: 0 0 r(90) 0;
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: r(38);
  color: var(--color-dark-gray);
  text-align: center;
  text-transform: uppercase;
  max-width: r(478);
}

.p-content-section__text {
  margin: 0 0 r(117) 0;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: r(14);
  color: var(--color-medium-gray);
  line-height: calc(18.667 / 14);
  text-align: center;
  max-width: r(410);
}
