@use 'global' as *;

// * ================================
// * p-footer
// * ================================

.p-footer {
  position: relative;
  width: 100%;
  height: r(445);
  overflow: hidden;

  @include mq(md) {
    height: r(442);
  }
}

.p-footer__bg {
  position: absolute;
  top: r(2);
  left: r(2);
  width: r(1201);
  height: r(442);
}

.p-footer__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-footer__line {
  position: absolute;
  top: r(2);
  left: r(2);
  width: r(1200);
  height: r(5);
  background-color: var(--color-primary);
}

.p-footer__inner {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: r(84) r(84) r(84) r(84);

  @include mq(md) {
    padding: r(60) r(60);
  }
}

.p-footer__contact {
  display: flex;
  flex-direction: column;
  gap: r(24);
}

.p-footer__logo {
  width: r(35);
  height: r(35);
}

.p-footer__logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-footer__company {
  margin: r(41) 0 r(24) 0;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: r(6);
  color: var(--color-white);
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.p-footer__address {
  margin: 0 0 r(25) 0;
  font-family: var(--font-lato);
  font-weight: 600;
  font-size: r(15);
  color: var(--color-light-gray);
  line-height: calc(21.8 / 15);
  letter-spacing: 0.7px;
}

.p-footer__email {
  margin: 0;
  font-family: var(--font-lato);
  font-weight: 600;
  font-size: r(15);
  color: var(--color-light-gray);
  letter-spacing: 0.7px;
}

.p-footer__map {
  position: relative;
  width: r(482);
  height: r(278);
}

.p-footer__map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-footer__map-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: r(18);
  color: var(--color-very-light-gray);
  letter-spacing: 0.85px;
  text-align: center;
}
