@use 'global' as *;

// * ================================
// * p-hero
// * ================================

.p-hero {
  position: relative;
  width: 100%;
  height: r(802);
  overflow: hidden;

  @include mq(md) {
    height: r(800);
  }
}

.p-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-hero__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.p-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  mix-blend-mode: multiply;
}

.p-hero__inner {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 r(132);

  @include mq(md) {
    padding: 0 r(100);
  }
}

.p-hero__content {
  position: absolute;
  top: r(321);
  left: r(132);
  z-index: 3;

  @include mq(md) {
    left: r(100);
  }
}

.p-hero__title {
  margin: 0 0 r(60) 0;
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: r(59);
  color: var(--color-white);
  line-height: calc(67.6 / 59);
  letter-spacing: 6px;
  text-transform: none;

  @include mq(md) {
    font-size: r(48);
  }
}

.p-hero__subtitle {
  margin: 0;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: r(23);
  color: var(--color-subtitle);
  letter-spacing: 2.35px;
  text-align: center;
  opacity: 0.702;

  @include mq(md) {
    font-size: r(20);
  }
}
