@use 'global' as *;

// * ================================
// * p-header
// * ================================

.p-header {
  position: absolute;
  top: r(52);
  left: r(132);
  z-index: var(--zi-header);
  display: flex;
  align-items: center;
  gap: r(534);

  @include mq(md) {
    gap: r(400);
  }
}

.p-header__logo {
  margin: 0;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: r(16);
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.p-header__logo-link {
  color: var(--color-white);
  text-decoration: none;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
