@use 'global' as *;

.p-content-section {
  padding-block: var(--spacing-xl);
  background-color: var(--color-bg-light);

  @include mq(md) {
    padding-block: fluidRange(80, 120);
  }
}

.p-content-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: r(32);

  @include mq(md) {
    gap: r(48);
  }
}

.p-content-section__text {
  max-width: r(800);
  text-align: center;

  p {
    font-size: r(16);
    line-height: 1.8;
    color: var(--color-text-primary);

    @include mq(md) {
      font-size: r(18);
    }
  }

  p + p {
    margin-top: r(16);

    @include mq(md) {
      margin-top: r(24);
    }
  }
}

.p-content-section__cta {
  margin-top: r(16);

  @include mq(md) {
    margin-top: r(24);
  }
}
