@use 'global' as *;

.p-footer {
  position: relative;
  padding-block: r(48);
  background-color: var(--color-primary);
  color: var(--color-white);

  @include mq(md) {
    padding-block: r(64);
  }
}

.p-footer__inner.l-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-footer__logo {
  display: grid;
  place-items: center;

  a {
    width: fit-content;
    height: r(80);
    padding-block: r(16);

    img {
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
}

.p-footer__sns {
  display: grid;
  place-items: center;
  margin-top: r(24);
}

.p-footer__sns-list {
  display: flex;
  gap: r(16);
}

.p-footer__sns-item {
  a {
    display: block;
    width: r(30);
    height: r(30);
    aspect-ratio: 1;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: inherit;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
}

.p-footer__nav {
  margin-top: r(24);
}

.p-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: r(24);
}

.p-footer__item {
  a {
  }
}

.p-footer__item {
  a {
    color: var(--color-white);
    text-decoration: none;
    transition: opacity 0.3s;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.p-footer__copy {
  margin-top: r(64);
  font-size: r(14);
  text-align: center;
  opacity: 0.8;
}
