@use 'global' as *;

.p-archive {
}

.p-archive__title {
}

.p-archive__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: toRem(40);
  @include mq('md') {
    gap: toRem(60) toRem(40);
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-archive__item {
}

.p-archive__pagination {
  margin-top: toRem(80);
}
