@use 'global' as *;

.p-archive {
}

.p-archive__title {
}

.p-archive__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: fluidRange(40, 60) fluidRange(40);
  @include mq('md') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-archive__item {
}

.p-archive__pagination {
  margin-top: fluidRange(80);
}
