@use 'global' as *;
.p-content-single {
  h2 {
    padding-bottom: rem(40);
    border-bottom: rem(4) solid $black;
    font-weight: $bold;
    font-size: fClamp(24, 40);
    line-height: 2;
  }
  h3 {
    margin-top: 1em;
    padding-bottom: rem(40);
    border-bottom: 1px solid $black;
    font-weight: $bold;
    font-size: fClamp(24, 40);
  }
  h4 {
    margin-top: 1em;
    font-weight: $bold;
    font-size: fClamp(20, 32);
  }
  h5 {
    margin-top: 1em;
    font-weight: $bold;
    font-size: fClamp(18, 20);
  }
  h6 {
    margin-top: 1em;
    font-weight: $bold;
    font-size: fClamp(16, 20);
  }
  p {
    margin-top: 1em;
    line-height: 2;
  }
  ol {
    list-style: decimal;
    list-style-position: inside;
    font-weight: $bold;
    font-size: fClamp(16, 20);
    font-family: $secondFont;
  }
  ul {
    list-style: disc;
    list-style-position: inside;
    font-size: fClamp(16, 20);
  }
}

// Revert all properties
.p-content-single.p-content--revert {
  * {
    all: revert;
  }
}
