@use 'global' as *;

.p-column2 {
}

.p-column2__inner.l-inner {
  @include mq {
    display: flex;
    gap: 6%;
  }
}

.p-column2__sidebar {
  @include mq {
    flex-shrink: 0;
    width: 20%;
  }
}

.p-column2__main {
  
  @include mq {
    width: 100%;
  }
}

.p-column2__title {
}

.p-column2__content {
  margin-top: rem(40);
}
