@use 'global' as *;

.p-column2 {
}

.p-column2__inner.l-inner {
  @include mq {
    display: flex;
    gap: 6%;
  }
}

.p-column2__sidebar {
  @include mq {
    flex-shrink: 0;
    width: 17.6%;
  }
}

.p-column2__main {
  margin-top: rem(40);

  @include mq {
    width: 100%;
    margin-top: initial;
  }
}

.p-column2__title {
  font-weight: $bold;
  font-size: fClamp(22, 40);
  letter-spacing: 0.04em;
}

.p-column2__content {
  margin-top: rem(40);
}
