@use 'global' as *;

.p-column2 {
}

.p-column2__inner.l-inner {
  @include mq('md') {
    display: flex;
    gap: 3%;
  }
}

.p-column2__sidebar {
  @include mq('md') {
    flex-shrink: 0;
    width: 15%;
  }
}

.p-column2__main {
  @include mq('md') {
    width: 100%;
  }
}

.p-column2__title {
}

.p-column2__content {
}
