@use 'global' as *;

.p-error {
}

.p-error__inner.l-inner {
}

.p-error__title {
  font-size: calc(20 * var(--to-rem));
  text-align: center;

  @include mq('md') {
    font-size: calc(24 * var(--to-rem));
  }
}

.p-error__text {
  margin-top: calc(24 * var(--to-rem));
  font-size: calc(14 * var(--to-rem));
  line-height: 2;
  text-align: center;

  @include mq('md') {
    margin-top: calc(48 * var(--to-rem));
    font-size: calc(16 * var(--to-rem));
  }
  span {
    display: inline-block;
  }
}

.p-error__button {
  display: grid;
  place-items: center;
  margin-top: calc(60 * var(--to-rem));

  @include mq('md') {
    margin-top: calc(100 * var(--to-rem));
  }
}
