@use 'global' as *;

.p-error {
}

.p-error__inner.l-inner {
}

.p-error__title {
  font-size: torem(20);
  text-align: center;

  @include mq('md') {
    font-size: torem(24);
  }
}

.p-error__text {
  margin-top: torem(24);
  font-size: torem(14);
  line-height: 2;
  text-align: center;

  @include mq('md') {
    margin-top: torem(48);
    font-size: torem(16);
  }
  span {
    display: inline-block;
  }
}

.p-error__button {
  display: grid;
  place-items: center;
  margin-top: torem(60);

  @include mq('md') {
    margin-top: torem(100);
  }
}
