@use 'global' as *;

.p-faq {
}

.p-faq__inner.l-inner {
}

.p-faq__heading {
}

.p-faq__content {
  margin-top: toRem(0);

  @include mq('md') {
    margin-top: toRem(0);
  }
}

.p-faq__list {
  margin-top: toRem(0);

  @include mq('md') {
    margin-top: toRem(0);
  }
}

.p-faq__item {
}
.p-faq__item + .p-faq__item {
  margin-top: toRem(0);

  @include mq('md') {
    margin-top: toRem(0);
  }
}
.p-faq__q,
.p-faq__a {
  @include mq('md') {
  }

  .wrapper {
    display: flex;
    align-items: baseline;
    gap: toRem(16);
    position: relative;
    padding-block: toRem(16);
    padding-right: toRem(64);
    padding-left: toRem(4);
    cursor: pointer;
  }

  .icon {
    display: block;
    font-weight: 600;
    font-size: toRem(24);
  }

  .text {
    display: block;
    font-weight: 600;
    font-size: toRem(17);
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .button {
    display: block;
    position: absolute;
    top: 50%;
    right: toRem(4);
    transform: translateY(-50%);
    width: toRem(35);
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--color-blue-100);

    @include mq('md') {
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-white);
      transition: all 0.3s ease;

      @include mq('md') {
      }
    }
    &::before {
      width: pct(14, 35);
      height: toRem(2);

      @include mq('md') {
      }
    }
    &::after {
      width: toRem(2);
      height: pct(14, 35);

      @include mq('md') {
      }
    }
  }
}

// is-open
.p-faq__item.is-open {
  .p-faq__q {
    .button {
      &::after {
        transform: translate(-50%, -50%) scaleY(0);
      }
    }
  }
}
