@use 'global' as *;

.p-faq {
}

.p-faq__inner.l-inner {
}

.p-faq__heading {
}

.p-faq__content {
	margin-top: r(0);

	@include mq('md') {
		margin-top: r(0);
	}
}

.p-faq__list {
	margin-top: r(0);

	@include mq('md') {
		margin-top: r(0);
	}
}

.p-faq__item {
}
.p-faq__item + .p-faq__item {
	margin-top: r(0);

	@include mq('md') {
		margin-top: r(0);
	}
}
.p-faq__q,
.p-faq__a {
	@include mq('md') {
	}

	.wrapper {
		position: relative;
		display: flex;
		align-items: baseline;
		gap: r(16);
		padding-right: r(64);
		padding-left: r(4);
		padding-block: r(16);
		cursor: pointer;
	}

	.icon {
		display: block;
		font-size: r(24);
		font-weight: 600;
	}

	.text {
		display: block;
		font-size: r(17);
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}

	.button {
		position: absolute;
		top: 50%;
		right: r(4);
		display: block;
		width: r(35);
		aspect-ratio: 1;
		border-radius: 100%;
		background-color: var(--color-blue-100);
		transform: translateY(-50%);

		@include mq('md') {
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			background-color: var(--color-white);
			transform: translate(-50%, -50%);
			transition: all 0.3s ease;

			@include mq('md') {
			}
		}
		&::before {
			width: pct(14, 35);
			height: r(2);

			@include mq('md') {
			}
		}
		&::after {
			width: r(2);
			height: pct(14, 35);

			@include mq('md') {
			}
		}
	}
}

// is-open
.p-faq__item.is-open {
	.p-faq__q {
		.button {
			&::after {
				transform: translate(-50%, -50%) scaleY(0);
			}
		}
	}
}
