@use 'global' as *;

.p-fv {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: fluidRange($headerHeight-sp, $headerHeight-pc);
  background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.p-fv__inner {
  position: relative;
  width: 100%;
  max-width: $inner;
  margin-inline: auto;
  padding-inline: $padding-sp;

  @include mq(md) {
    padding-inline: $padding-pc;
  }
}

.p-fv__content {
  text-align: center;
  color: var(--color-white);
}

.p-fv__title {
  font-family: var(--font-en);
  font-size: r(36);
  font-weight: 700;
  line-height: 1.2;

  @include mq(md) {
    font-size: r(64);
  }

  @include mq(lg) {
    font-size: r(72);
  }
}

.p-fv__subtitle {
  margin-top: r(16);
  font-size: r(16);
  font-weight: 400;
  opacity: 0.9;

  @include mq(md) {
    margin-top: r(24);
    font-size: r(20);
  }
}
