@use 'global' as *;

.p-fv {
}
.p-fv__inner {
  position: relative;
}
.p-fv__slide {
  .swiper {
    margin-inline: calc(50% - 50vw);
    padding-inline: calc(50vw - 50%);
  }

  .swiper-wrapper {
  }

  .swiper-slide {
  }
}
.p-fv__img {
  width: 100%;
  aspect-ratio: 375 / 667;
  border: 1px solid black;

  @include mq('md') {
    aspect-ratio: 1366 / 768;
  }
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.p-fv__heading {
  font-feature-settings:
    'vert' 1,
    'vrt2' 1,
    'vkrn' 1,
    'vpal' 1,
    'vkna' 1;
  writing-mode: vertical-rl;
}
.p-fv__letter {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  @include mq('md') {
    transform: translateY(20%);
  }
}
.p-fv__letter-track {
  display: inline-block;
  animation: slideLeft 30s linear infinite;
  .text {
    display: inline-block;
    line-height: 1;

    @include mq('md') {
    }
  }
}
