@use 'global' as *;

// Contact Form 7 のスタイルリセット
.wpcf7-spinner {
  display: none; /* 送信中のスピナーを削除 */
}
.wpcf7-list-item {
  margin: 0;
}
.wpcf7-not-valid {
  outline: 1px solid pink !important; /* エラー時の枠線 */
}
.wpcf7-response-output {
  border-color: red !important; /* エラーメッセージの枠線 */
  text-align: center !important; /* エラーメッセージの中央揃え */
}
.wpcf7-not-valid-tip {
  color: pink;
}
.wpcf7-not-valid-tip::before {
  content: '!';
  display: inline-block;
  width: 1em;
  aspect-ratio: 1;
  margin-right: 0.2em;
  background-image: url(../images/common/error.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

// Contact Form 7 のスタイル
.p-form {
  padding: 6.25%;
  border-radius: torem(16);
  background-color: white;

  .p-form__list {
  }

  .p-form__item {
    display: flex;
    flex-direction: column;
    gap: torem(8) torem(16);
    color: black;
    font-size: torem(18);
    font-family: var(--font-en);

    @include mq('md') {
      flex-direction: row;
      align-items: center;
      font-size: torem(20);
    }
  }
  .p-form__item:not(:nth-of-type(1)),
  div[data-class='wpcf7cf_group'] {
    margin-top: torem(40);

    @include mq('md') {
      margin-top: torem(56);
    }
  }

  .p-form__term {
    @include mq('md') {
      width: 30%;
    }
    label,
    p {
      display: flex;
      align-items: center;
      gap: torem(8);
    }
  }

  .p-form__description {
    overflow-wrap: anywhere;

    @include mq('md') {
      width: 70%;
    }
  }

  .p-form__required {
    padding: torem(2) torem(4);
    border: 1px solid red;
    border-radius: torem(4);
    color: red;
    font-size: torem(12);
  }

  .p-form__policy {
    margin-top: torem(24);
    font-size: torem(14);
    text-align: center;

    @include mq('md') {
      margin-top: torem(40);
    }

    a {
      margin-left: 1em;
      text-decoration: underline;
    }
  }

  .p-form__submit-cation {
    margin-top: torem(16);
    text-align: center;

    @include mq('md') {
      margin-top: torem(32);
    }
  }

  .p-form__previous {
    display: grid;
    place-items: center;
    margin-top: torem(40);
  }

  .p-form__submit {
    display: grid;
    place-items: center;
    margin-top: torem(40);
  }

  .p-form__note {
    margin-top: torem(18);
    color: gray;
    font-size: torem(14);
  }

  //  ! common style
  [type='text'],
  [type='search'],
  [type='tel'],
  [type='url'],
  [type='email'],
  [type='password'],
  [type='date'],
  textarea,
  select {
    width: 100%;
    margin: 0;
    padding: 1em;
    border: 1px solid gray;
    border-radius: torem(4);
    background-color: white;

    &:active,
    &:hover,
    &:focus {
      border: 1px solid darken(gray, 50%);
    }
    &::placeholder {
      color: gray;
    }
  }

  // ! textarea
  textarea {
    min-height: torem(160);
    overflow-wrap: anywhere;
    resize: none;
  }

  // ! button
  button,
  [type='button'],
  [type='submit'] {
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease;
  }
  input:disabled {
    cursor: not-allowed;
  }

  // ! radio
  #f-radio {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em 1em;
  }
  [type='radio'] {
    $vRadioSize: 0.8em;
    display: none;
    + span {
      display: inline-block;
      position: relative;
      padding-left: 1em;
      cursor: pointer;
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0.4em;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: center;
        border-radius: 100%;
      }
      &::before {
        width: $vRadioSize;
        height: $vRadioSize;
        border: 1px solid black;
        background-color: black;
      }
      &::after {
        opacity: 0;
        width: calc($vRadioSize * 0.8);
        height: calc($vRadioSize * 0.8);
        background: red;
        transition: 0.2s ease;
      }
    }
    &:checked + span {
      &::after {
        opacity: 1;
      }
    }
  }

  // ! checkbox
  #f-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em 1em;
  }
  [type='checkbox'] {
    $vCheckboxSize: 1em;
    display: none;
    + span {
      display: inline-block;
      position: relative;
      padding-left: 1em;
      cursor: pointer;
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0.4em;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: center;
      }
      &::before {
        width: $vCheckboxSize;
        height: $vCheckboxSize;
        border: 1px solid black;
        background-color: white;
      }
      &::after {
        opacity: 0;
        transform: translateX(-50%) translateY(-75%) rotate(-50deg);
        width: calc($vCheckboxSize * 1);
        height: calc($vCheckboxSize * 0.5);
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: black;
        transition: 0.2s ease;
      }
    }
    &:checked + span {
      &::after {
        opacity: 1;
      }
    }
  }
  // チェックボックスはこのやり方もあり。
  // input[type='checkbox']:checked {
  //   background-image: url(../images/common/icon-check.svg);
  //   background-position: center;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }

  // ! select (drop down)
  select {
    position: relative;
    background-image: url(../images/common/triangle.svg);
    background-position: right 1em center;
    background-size: 0.5em;
    background-repeat: no-repeat;
    color: black;
    cursor: pointer;
    appearance: none;

    option {
      font-size: torem(18);

      @include mq('md') {
        font-size: torem(20);
      }
    }
    @supports (-webkit-hyphens: none) and (not (-ms-ime-align: auto)) {
      /* Safari だけに適用 */
      border-radius: initial;
      text-align-last: center;
    }
  }

  //  ! date
  [type='date'] {
    position: relative;

    /*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
    appearance: auto;

    /*↓デフォルトではないアイコンを使う場合は入力する*/
    // background-image: url();
    // background-position: right 12px center;
    // background-repeat: no-repeat;
  }
}

.p-form__confirm {
  display: none;

  .p-form__description span {
    overflow-wrap: anywhere;
  }
}
