@use 'sass:color';
@use 'global' as *;

// Contact Form 7 のスタイルリセット
.wpcf7-spinner {
	display: none; /* 送信中のスピナーを削除 */
}
.wpcf7-list-item {
	margin: 0;
}
.wpcf7-not-valid {
	outline: 1px solid pink !important; /* エラー時の枠線 */
}
.wpcf7-response-output {
	border-color: red !important; /* エラーメッセージの枠線 */
	text-align: center !important; /* エラーメッセージの中央揃え */
}
.wpcf7-not-valid-tip {
	color: pink;
}
.wpcf7-not-valid-tip::before {
	content: '!';
	display: inline-block;
	width: 1em;
	aspect-ratio: 1;
	margin-right: 0.2em;
	background-image: url(../images/common/error.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

// Contact Form 7 のスタイル
.p-form {
	padding: 6.25%;
	border-radius: r(16);
	background-color: white;

	.p-form__list {
	}

	.p-form__item {
		display: flex;
		flex-direction: column;
		gap: r(8) r(16);
		font-family: var(--font-en);
		font-size: r(18);
		color: black;

		@include mq('md') {
			flex-direction: row;
			align-items: center;
			font-size: r(20);
		}
	}
	.p-form__item:not(:nth-of-type(1)),
	div[data-class='wpcf7cf_group'] {
		margin-top: r(40);

		@include mq('md') {
			margin-top: r(56);
		}
	}

	.p-form__term {
		@include mq('md') {
			width: 30%;
		}
		label,
		p {
			display: flex;
			align-items: center;
			gap: r(8);
		}
	}

	.p-form__description {
		overflow-wrap: anywhere;

		@include mq('md') {
			width: 70%;
		}
	}

	.p-form__required {
		padding: r(2) r(4);
		border: 1px solid red;
		border-radius: r(4);
		font-size: r(12);
		color: red;
	}

	.p-form__policy {
		margin-top: r(24);
		font-size: r(14);
		text-align: center;

		@include mq('md') {
			margin-top: r(40);
		}

		a {
			margin-left: 1em;
			text-decoration: underline;
		}
	}

	.p-form__submit-cation {
		margin-top: r(16);
		text-align: center;

		@include mq('md') {
			margin-top: r(32);
		}
	}

	.p-form__previous {
		display: grid;
		place-items: center;
		margin-top: r(40);
	}

	.p-form__submit {
		display: grid;
		place-items: center;
		margin-top: r(40);
	}

	.p-form__note {
		margin-top: r(18);
		font-size: r(14);
		color: gray;
	}

	//  ! common style
	[type='text'],
	[type='search'],
	[type='tel'],
	[type='url'],
	[type='email'],
	[type='password'],
	[type='date'],
	textarea,
	select {
		width: 100%;
		margin: 0;
		padding: 1em;
		border: 1px solid gray;
		border-radius: r(4);
		background-color: white;

		&:active,
		&:hover,
		&:focus {
			border: 1px solid color.adjust(gray, $lightness: -50%);
		}
		&::placeholder {
			color: gray;
		}
	}

	// ! textarea
	textarea {
		min-height: r(160);
		overflow-wrap: anywhere;
		resize: none;
	}

	// ! button
	button,
	[type='button'],
	[type='submit'] {
		display: inline-block;
		cursor: pointer;
		transition: 0.3s ease;
	}
	input:disabled {
		cursor: not-allowed;
	}

	// ! radio
	#f-radio {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8em 1em;
	}
	[type='radio'] {
		$vRadioSize: 0.8em;
		display: none;
		+ span {
			position: relative;
			display: inline-block;
			padding-left: 1em;
			cursor: pointer;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0.4em;
				display: block;
				border-radius: 100%;
				transform: translateX(-50%) translateY(-50%);
				transform-origin: center;
			}
			&::before {
				width: $vRadioSize;
				height: $vRadioSize;
				border: 1px solid black;
				background-color: black;
			}
			&::after {
				width: calc($vRadioSize * 0.8);
				height: calc($vRadioSize * 0.8);
				background: red;
				opacity: 0;
				transition: 0.2s ease;
			}
		}
		&:checked + span {
			&::after {
				opacity: 1;
			}
		}
	}

	// ! checkbox
	#f-checkbox {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8em 1em;
	}
	[type='checkbox'] {
		$vCheckboxSize: 1em;
		display: none;
		+ span {
			position: relative;
			display: inline-block;
			padding-left: 1em;
			cursor: pointer;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0.4em;
				display: block;
				transform: translateX(-50%) translateY(-50%);
				transform-origin: center;
			}
			&::before {
				width: $vCheckboxSize;
				height: $vCheckboxSize;
				border: 1px solid black;
				background-color: white;
			}
			&::after {
				width: calc($vCheckboxSize * 1);
				height: calc($vCheckboxSize * 0.5);
				border-width: 0 0 2px 2px;
				border-style: solid;
				border-color: black;
				opacity: 0;
				transform: translateX(-50%) translateY(-75%) rotate(-50deg);
				transition: 0.2s ease;
			}
		}
		&:checked + span {
			&::after {
				opacity: 1;
			}
		}
	}
	// チェックボックスはこのやり方もあり。
	// input[type='checkbox']:checked {
	//   background-image: url(../images/common/icon-check.svg);
	//   background-position: center;
	//   background-size: contain;
	//   background-repeat: no-repeat;
	// }

	// ! select (drop down)
	select {
		position: relative;
		background-image: url(../images/common/triangle.svg);
		background-repeat: no-repeat;
		background-position: right 1em center;
		background-size: 0.5em;
		color: black;
		cursor: pointer;
		appearance: none;

		option {
			font-size: r(18);

			@include mq('md') {
				font-size: r(20);
			}
		}
		@supports (-webkit-hyphens: none) and (not (-ms-ime-align: auto)) {
			/* Safari だけに適用 */
			border-radius: initial;
			text-align-last: center;
		}
	}

	//  ! date
	[type='date'] {
		position: relative;

		/*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
		appearance: auto;

		/*↓デフォルトではないアイコンを使う場合は入力する*/
		// background-image: url();
		// background-position: right 12px center;
		// background-repeat: no-repeat;
	}
}

.p-form__confirm {
	display: none;

	.p-form__description span {
		overflow-wrap: anywhere;
	}
}
