@use 'global' as *;

.p-fv {
}

.p-fv__inner {
  position: relative;
}

.p-fv__slide {
  .swiper {
    margin-inline: calc(50% - 50vw);
    padding-inline: calc(50vw - 50%);
  }

  .swiper-wrapper {
  }

  .swiper-slide {
  }
}

.p-fv__img {
  border: 1px solid $black;
  width: 100%;
  aspect-ratio: 375 / 667;

  @include mq {
    aspect-ratio: 1500 / 880;
  }
  picture,
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: inherit;
  }
}
