@use 'global' as *;

.p-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: zi(header);
  height: fClamp($headerHeight-sp, $headerHeight-pc);
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding-inline: rem(15);
}

.p-header__logo {
  display: grid;
  align-items: center;
  height: inherit;

  a {
    height: inherit;
    display: grid;
    place-items: center;

    picture,
    img {
      height: 50%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
}

.p-header__nav {
  display: none;
  height: inherit;

  @include mq {
    display: block;
  }
}

.p-header__list {
  display: flex;
  align-items: center;
  gap: rem(16);
  height: inherit;

  @include mq {
    gap: rem(48);
  }
}

.p-header__item {
  height: inherit;
  a {
    display: grid;
    place-items: center;
    height: inherit;
    color: $black;
  }
  span {
    position: relative;
  }
  span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: rem(-4);
    transform: scale(0);
    transform-origin: center;
    width: 100%;
    height: rem(2);
    border-radius: rem(2);
    background-color: $black;
    transition: transform 0.3s;
  }
}
@media screen and (any-hover: hover) {
  .p-header__item:hover span::after {
    transform: scale(1);
  }
}

.p-header__hamburger {
  display: grid;
  place-items: center;

  @include mq {
    display: none;
  }
}
