@use 'global' as *;

.p-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--zi-header);
  height: fluidRange($headerHeight-sp, $headerHeight-pc);
  background-color: transparent;
  transition: opacity 0.5s, visibility 0.5s;
}
.p-header.is-active {
}
.p-header.is-scrolled:not(.is-active) {
  visibility: hidden;
  opacity: 0;
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding-inline: r(20);

  @include mq('md') {
    padding-inline: r(40);
  }
}

.p-header__logo {
  display: grid;
  place-items: center;
  height: inherit;

  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
}

.p-header__company-name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: r(16);
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include mq('md') {
    font-size: r(20);
  }
}

.p-header__nav {
  display: none;
  height: inherit;

  @include mq('md') {
    display: block;
  }
}

.p-header__list {
  display: flex;
  align-items: center;
  gap: r(24);
  height: inherit;

  @include mq('md') {
    gap: r(40);
  }
}

.p-header__item {
  height: inherit;
}

.p-header__link {
  display: grid;
  place-items: center;
  height: inherit;
  font-family: 'Lato', sans-serif;
  font-size: r(14);
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;

  span {
    position: relative;
  }

  span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: r(-4);
    left: 0;
    transform: scale(0);
    transform-origin: center;
    width: 100%;
    height: r(2);
    border-radius: r(2);
    background-color: #f3491e;
    transition: transform 0.3s;
  }

  &:first-child span::after {
    transform: scale(1);
  }
}

@media screen and (any-hover: hover) {
  .p-header__link:hover span::after {
    transform: scale(1);
  }
}

.p-header__hamburger {
  display: grid;
  place-items: center;

  @include mq('md') {
    display: none;
  }
}
