@use 'global' as *;

.p-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $ziHeader;
  height: fluidRange($headerHeight-sp, $headerHeight-pc);
  transition: opacity 0.5s, visibility 0.5s;
}
.p-header.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding-inline: rem(15);
}

.p-header__logo {
  display: grid;
  place-items: center;
  height: inherit;

  a {
    width: fit-content;
    height: inherit;
    padding-block: rem(16);

    picture,
    img {
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
}

.p-header__nav {
  display: none;
  height: inherit;

  @include mq('md') {
    display: block;
  }
}

.p-header__list {
  display: flex;
  align-items: center;
  gap: rem(16);
  height: inherit;

  @include mq('md') {
    gap: rem(48);
  }
}

.p-header__item {
  height: inherit;
  a {
    display: grid;
    place-items: center;
    height: inherit;
    color: black;
  }
  span {
    position: relative;
  }
  span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: scale(0);
    transform-origin: center;
    width: 100%;
    height: rem(2);
    border-radius: rem(2);
    background-color: black;
    transition: transform 0.3s;
  }
}
@media screen and (any-hover: hover) {
  .p-header__item:hover span::after {
    transform: scale(1);
  }
}

.p-header__hamburger {
  display: grid;
  place-items: center;

  @include mq('md') {
    display: none;
  }
}
