@use 'global' as *;

.p-lower-heading {
}

.p-lower-heading__heading {
  display: grid;
  justify-content: center;
}

.p-lower-heading__heading {
}

.p-lower-heading_group {
  text-align: center;
}

.p-lower-heading_group__sub {
}

.p-lower-heading_group__main {
}
