@use 'global' as *;

.p-loading {
  position: fixed;
  inset: 0;
  z-index: var(--zi-loading);
  display: none;
  width: 100%;
  height: 100svh;
}
.p-loading.is-active {
  display: block;
}

.p-loading__inner {
  height: 100%;
}
