@use 'global' as *;

.p-section-fuga {
}

.p-section-fuga__inner.l-inner {
}

.p-section-fuga__heading {
  display: grid;
  place-items: center;
}

.p-section-fuga__content {
  margin-top: fluidRange(40);
}

.p-section-fuga__slide {
  position: relative;

  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-equipment {
    position: initial;
    width: 100%;
    margin-top: fluidRange(60);
  }

  .swiper-scrollbar {
    display: block;
    position: initial;
    background-color: black;
  }

  .swiper-scrollbar-drag {
    background-color: gray;
  }
}

.p-section-fuga__button {
  display: grid;
  place-items: center;
  margin-top: fluidRange(24, 60);

}
