@use 'global' as *;

.p-single {
}

.p-single__inner.l-inner {
}

// * eye-catchは比率指定しない
.p-single__eye-catch {
  width: 100%;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.p-single__content {
}

.p-single__pagination {
  display: flex;
  justify-content: center;
  gap: torem(40);
  margin-top: torem(40);
  .prev {
  }
  .index {
  }
  .next {
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.p-single__button {
  display: grid;
  place-items: center;
  margin-top: torem(200);
}
