@use 'global' as *;

.p-section-slide {
}

.p-section-slide__inner.l-inner {
}

.p-section-slide__heading {
  display: grid;
  place-items: center;
}

.p-section-slide__content {
  margin-top: calc(40 * var(--to-rem));
}

.p-section-slide__slide {
  position: relative;

  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-equipment {
    position: initial;
    width: 100%;
    margin-top: calc(60 * var(--to-rem));
  }

  .swiper-scrollbar {
    display: block;
    position: initial;
    background-color: black;
  }

  .swiper-scrollbar-drag {
    background-color: gray;
  }
}

.p-section-slide__button {
  display: grid;
  place-items: center;
  margin-top: calc(24 * var(--to-rem));
  @include mq('md') {
    margin-top: calc(60 * var(--to-rem));
  }
}
