@use 'global' as *;

.p-section-grid {
}

.p-section-grid__inner.l-inner {
}

.p-section-grid__heading {
  display: grid;
  place-items: center;
}

.p-section-grid__content {
  margin-top: calc(40 * var(--to-rem));
}

.p-section-grid__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(16 * var(--to-rem)) 5%;

  @include mq('md') {
    grid-template-columns: repeat(auto-fit, minmax(calc(320 * var(--to-rem)), 1fr));
    gap: calc(40 * var(--to-rem)) 5%;
  }
}

.p-section-grid__item {
}

.p-section-grid__button {
  display: grid;
  place-items: center;
  margin-top: calc(24 * var(--to-rem));

  @include mq('md') {
    margin-top: calc(60 * var(--to-rem));
  }
}
