<%# Content Section - Section 02 %>
<%# Uses extracted values from manifest: section-02 %>

<section class="p-content">
  <div class="p-content__inner">
    <div class="p-content__decorative">
      <img src="<%= baseUrlPath %>/assets/images/content-square1.png" alt="" class="p-content__square p-content__square--1" aria-hidden="true">
      <img src="<%= baseUrlPath %>/assets/images/content-square2.png" alt="" class="p-content__square p-content__square--2" aria-hidden="true">
      <img src="<%= baseUrlPath %>/assets/images/content-line.png" alt="" class="p-content__line" aria-hidden="true">
    </div>

    <div class="p-content__body">
      <p class="p-content__title">TITLE #1</p>
      <h2 class="p-content__heading">Write something here</h2>
      <p class="p-content__text">Obis quias dolupti andaeperume...</p>

      <div class="p-content__button">
        <%- include(baseUrlPath + './component/_c-button-normal', {
          text: '+ INFO',
          url: '#'
        }) %>
      </div>
    </div>
  </div>
</section>
