<%
  const navItems = [
    { link: "hoge.html", text: "ほげ" },
    { link: "fuga.html", text: "ふが"}
  ];
%>

<div class="p-drawer js-drawer">
  <div class="p-drawer__inner l-inner">
    <ul class="p-drawer__left-list">
      <% navItems.forEach(item => { %>
      <li class="p-drawer__left-item">
        <a href="<%= item.link %>"><%= item.text %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>