<div class="p-fv">
  <div class="p-fv__inner">
    <div class="p-fv__content">
      <h2 class="p-fv__title">Welcome to Our Template</h2>
      <p class="p-fv__subtitle">Building modern web experiences</p>
    </div>
  </div>
</div>