<div class="p-fv">
  <div class="p-fv__background">
    <img src="<%= baseUrlPath %>/assets/images/hero-background.jpg" alt="" class="p-fv__bg-image" loading="eager" fetchpriority="high" decoding="async" width="1920" height="1080">
    <div class="p-fv__overlay"></div>
  </div>
  <div class="p-fv__inner">
    <div class="p-fv__content">
      <h2 class="p-fv__title">PUT YOUR TITLE / NAME HERE</h2>
      <p class="p-fv__subtitle">PUT A SUBTITLE HERE</p>
    </div>
  </div>
</div>