<div class="p-loading" data-animation="loading">
  <div class="p-loading__inner">
    <p class="p-loading__title" data-animation="loading-title">Loading...</p>
  </div>
</div>

<script>
  // Flash of Unstyled Content（FOUC）対策
  // const hasVisited = sessionStorage.getItem('hasVisited');
  const hasVisited = false; // for debug
  const loading = document.querySelector('[data-animation="loading"]');
  const loadingHides = document.querySelectorAll('[data-animation="loading-hide"]');

  if (!hasVisited) {
    loading?.classList.add('is-active');
    loadingHides.forEach((el) => {
      el.style.visibility = 'hidden';
      el.style.opacity = '0';
    });
  } else {
    loading?.classList.remove('is-active');
  }
</script>