<%
  const navItems = [
    { link: "hoge.html", text: "ほげ", subText: "hoge" },
    { link: "fuga.html", text: "ふが" , subText: "fuga"}
  ];
%>
<!--  -->
<nav class="p-pc-nav">
  <ul class="p-pc-nav__list">
    <% navItems.forEach(item => { %>
    <li class="p-pc-nav__item">
      <a href="<%= item.link %>">
        <span><%= item.subText %></span>
        <span><%= item.text %></span>
      </a>
    </li>
    <% }) %>
  </ul>
</nav>