<% const list = ['item1', 'item2', 'item3', 'item4', 'item5', 'item6']; %>

<section class="p-section-fuga">
  <div class="p-section-fuga__inner l-inner">
    <div class="p-section-fuga__heading">
      <%- include(ejsPath + './component/_c-section-title', {title: "スワイパー", subTitle: "fuga"} ) %>
    </div>
    <div class="p-section-fuga__content">
      <div class="p-section-fuga__slide js-swiper">
        <div class="swiper">
          <ul class="swiper-wrapper">
            <% for (let i = 0; i < list.length; i++) { %>
            <li class="swiper-slide">
              <%- include(ejsPath + './component/_c-card', { 
                modifier: json.cards[i].modifier, 
                link: json.cards[i].link, 
                title: json.cards[i].title, 
                content: json.cards[i].content 
            }) %>
            </li>
            <% } %>
          </ul>
        </div>
        <div class="swiper-equipment">
          <div class="swiper-button-prev"></div>
          <div class="swiper-scrollbar"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="p-section-fuga__button">
        <%- include(ejsPath + './component/_c-button-normal', {modifier: "", link: "fuga.html", text: "ボタン"} ) %>
      </div>
    </div>
  </div>
</section>