<!-- color, link, text -->
<% const variable = ['white']; %>
<!--  -->
<% const addClass = variable.includes(color) ? ` c-btn--${color}` : ''; %>
<!--  -->
<a href="<%= link %>.html" class="c-btn<%- addClass %>">
  <span><%= text %></span>
</a>
