<%# modifier, link, title, content %>
<% const modifierClass = modifier ? ` c-card--${modifier}` : ''; %>

<a href="<%= link %>" class="c-card<%= modifierClass %>">
	<h2 class="c-card__title"><%= title %></h2>
	<p class="c-card__content"><%= content %></p>
</a>
