@use 'global' as *;

@if $startFrom ==sp {
  .l-inner {
    width: 100%;
    max-width: $maxWidth-tb;
    margin-inline: auto;
    padding-inline: $padding-sp;

    @include mq('md') {
      width: vw(calc($inner + 2 * $padding-pc), $width-pc);
      width: vwLinear(768, 768, calc($inner + 2 * $padding-pc), $width-pc);
      max-width: $inner + $padding-pc * 2;
      padding-inline: $padding-pc;
    }
  }
} @else {
  .l-inner {
    width: vw(calc($inner + 2 * $padding-pc), $width-pc);
    width: vwLinear(768, 768, calc($inner + 2 * $padding-pc), $width-pc);
    max-width: $inner + $padding-pc * 2;
    margin-inline: auto;
    padding-inline: $padding-pc;

    @include mq('md') {
      width: 100%;
      max-width: $maxWidth-tb;
      padding-inline: $padding-sp;
    }
  }
}
