@use 'global' as *;

// * ================================
// * c-button-info
// * ================================

.c-button-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: r(164);
  height: r(45);
  background-color: var(--color-primary);
  border-radius: r(4);
  text-decoration: none;
  transition: opacity 0.3s;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.c-button-info__text {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: r(14);
  color: var(--color-white);
  letter-spacing: 1.35px;
  text-align: center;
}
