@use "global" as *;

.category-list__items {
  display: flex;
  flex-wrap: wrap;
  gap: rem(15) rem(40);
  @include mq {
    flex-direction: column;
    gap: rem(20) rem(40);
  }
}
.category-list__item {
  margin-left: rem(14);
  padding-left: rem(6);
  position: relative;
  color: $gray02;
  font-weight: $medium;
  font-size: rem(12);
  @include mq {
    font-size: rem(14);
  }
  a {
    display: inline-block;
  }
}
.category-list__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateY(-50%);
  transform-origin: right center;
  width: rem(8);
  height: rem(8);
  background-color: transparent;
}
.category-list__item:hover,
.category-list__item.is-active {
  color: $black;
}
.category-list__item:hover::before,
.category-list__item.is-active::before {
  background-color: $cNavy02;
}
