@use "global" as *;

.pagination-static {
  display: flex;
  align-items: center;
  gap: rem(10);
}
.pagination-static__page,
.pagination-static__post,
.pagination-static__next {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black-sub;
  cursor: pointer;
}
.pagination-static__page {
  width: rem(40);
  height: rem(40);
  background-color: $gray04;
  font-weight: $medium;
  font-size: rem(14);
  transition: background-color 0.3s, color 0.3s;
}
.pagination-static__page.is-active,
.pagination-static__page:hover {
  background-color: $cNavy;
  color: $white;
}
